.large_logo {
  width: 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // color: var(--base-red);
  img {
    width: 50px;
    border: 5px solid red;
  }

  span {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 40px;
  }
}

.small_logo {
  height: 42px;
  display: flex;
  align-items: center;

  img {
    width: 42px;
    margin-right: 10px;
  }
  span {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 26px;
  }
}
