@import url("../../styles/colors.scss");

header {
  background: var(--base-red);
  height: 100px;

  .container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: inherit;
    color: var(--base-white);
    padding: 20px;

    .logo {
      width: 230px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        width: 50px;
      }

      span {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: 40px;
      }
    }
  }
}
