.container {
  max-width: 1200px;
  width: 100%;
  margin: 30px auto;
  padding: 20px;

  .rooms {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    gap: 50px;

    @media screen and (min-width: 601px) and (max-width: 900px) {
      grid-template-columns: 1fr 1fr;
      gap: 30px;
    }

    @media screen and (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }
}
